Repository HaxeFoundation/haxe, pull requests merged in 2018-10, with the labels that each got.

#7419 Unicode regex
  src/macro/eval/evalStdLib.ml
  std/java/_std/EReg.hx
  std/lua/_std/EReg.hx
  std/lua/internal/StringImpl.hx
  std/php/_std/EReg.hx
  tests/unit/src/unitstd/EReg.unit.hx
  tests/unit/src/unitstd/Unicode.unit.hx
Labels: unicode

#7527 Fix bad unification with static fields
  src/core/type.ml
  src/optimization/analyzerTexpr.ml
  tests/misc/projects/Issue7526/Main.hx
  tests/misc/projects/Issue7526/compile-fail.hxml
  tests/misc/projects/Issue7526/compile-fail.hxml.stderr
Labels: bug, feature-dce

#7528 [js] Cleanup some unused code
  src/generators/genjs.ml
  std/js/_std/String.hx
  std/js/_std/Type.hx
Labels: platform-javascript

#7439 tf_args expr
  src/codegen/gencommon/closuresToClass.ml
  src/codegen/gencommon/enumToClass.ml
  src/codegen/gencommon/gencommon.ml
  src/core/json/genjson.ml
  src/core/texpr.ml
  src/core/type.ml
  src/filters/defaultArguments.ml
  src/generators/genas3.ml
  src/generators/gencpp.ml
  src/generators/genhl.ml
  src/generators/genjs.ml
  src/generators/genlua.ml
  src/generators/genneko.ml
  src/generators/genphp7.ml
  src/generators/genpy.ml
  src/generators/genswf9.ml
  src/macro/macroApi.ml
  src/optimization/inline.ml
  src/typing/calls.ml
  src/typing/typeloadFunction.ml
  std/haxe/macro/Type.hx
  tests/unit/src/unit/issues/Issue4287.hx
Labels: platform-as3, platform-cpp, platform-hl
