Repository HaxeFoundation/haxe, pull requests merged in 2019-08, with the labels that each got.

#8623 driver_options in PDO.prepare optional
  std/php/db/PDO.hx
  std/php/db/PDOStatement.hx
Labels: platform-php

#8628 Fix #7949: [nullsafety] unify a null-checked value with a non-nullable field
  src/typing/nullSafety.ml
  tests/nullsafety/src/cases/TestStrict.hx
Labels: feature-null-safety

#8638 Make compilation server aware of native libs
  src/codegen/dotnet.ml
  src/codegen/java.ml
  src/codegen/swfLoader.ml
  src/compiler/displayOutput.ml
  src/compiler/main.ml
  src/context/compilationServer.ml
  src/context/display/displayToplevel.ml
  std/haxe/display/Server.hx
  tests/server/src/AsyncMacro.hx
  tests/server/src/Main.hx
Labels: discussion

#5749 Inline Array.map/filter methods
  std/Array.hx
  std/cs/_std/Array.hx
  std/java/_std/Array.hx
  std/js/_std/Array.hx
  std/lua/_std/Array.hx
  std/neko/_std/Array.hx
  std/php/_std/Array.hx
Labels: enhancement

#8707 Compilation server reorganization
  src/codegen/dotnet.ml
  src/codegen/java.ml
  src/codegen/swfLoader.ml
  src/compiler/displayOutput.ml
  src/compiler/main.ml
  src/compiler/server.ml
  src/compiler/serverMessage.ml
  src/context/common.ml
  src/context/commonCache.ml
  src/context/compilationServer.ml
  src/context/display/displayJson.ml
  src/context/display/displayToplevel.ml
  src/context/display/findReferences.ml
  src/typing/macroContext.ml
  src/typing/typeload.ml
Labels: feature-compiler-cache
