Repository HaxeFoundation/haxe, pull requests merged in 2019-04, with the labels that each got.

#8089 [cpp] Enabled `-D hxcpp_smart_strings` by default
  src/compiler/main.ml
  src/core/define.ml
  tests/sys/compile-cpp.hxml
  tests/unit/compile-cpp.hxml
  tests/unit/compile-cppia-host.hxml
Labels: platform-cpp

#7608 Add `StringTools.contains`
  std/StringTools.hx
  std/php/_std/StringTools.hx
  tests/unit/src/unitstd/StringTools.unit.hx
Labels: standard library

#8190 [unicode] test "".code for surrogate pair border codes; fix String*Unicode iterators
  std/haxe/iterators/StringIteratorUnicode.hx
  std/haxe/iterators/StringKeyValueIteratorUnicode.hx
  tests/unit/src/unitstd/Unicode.unit.hx
  tests/unit/src/unitstd/haxe/iterators/StringIteratorUnicode.unit.hx
  tests/unit/src/unitstd/haxe/iterators/StringKeyValueIteratorUnicode.unit.hx
Labels: unicode
