Repository HaxeFoundation/haxe, pull requests merged in 2020-07, with the labels that each got.

#9729 [syntax] support overload modifier
  src/codegen/dotnet.ml
  src/codegen/java.ml
  src/codegen/javaModern.ml
  src/core/ast.ml
  src/macro/macroApi.ml
  src/syntax/grammar.mly
  src/syntax/reification.ml
  src/typing/typeload.ml
  src/typing/typeloadFields.ml
  tests/unit/src/unit/TestConstrainedMonomorphs.hx
  tests/unit/src/unit/TestOverloads.hx
Labels: feature-overload

#9689 add EIs, parse full ComplexType for the `is` operator, move `Std.isOfType` generation to the typer (see #2976)
  src/core/ast.ml
  src/macro/eval/evalDebugMisc.ml
  src/macro/macroApi.ml
  src/syntax/grammar.mly
  src/syntax/parser.ml
  src/syntax/reification.ml
  src/typing/typer.ml
  std/haxe/macro/Expr.hx
  std/haxe/macro/ExprTools.hx
  std/haxe/macro/Printer.hx
Labels: enhancement

#9542 [cpp] Fix typing for abstracts
  src/generators/gencpp.ml
  tests/unit/src/unit/issues/Issue9542.hx
Labels: platform-cpp
