Repository HaxeFoundation/haxe, pull requests merged in 2020-06, with the labels that each got.

#9522 [php] Adds some missing functions related to the file system
  std/php/Global.hx
Labels: enhancement, platform-php

#9564 [jvm] support the new JVM constant pool tags
  libs/javalib/jData.ml
  libs/javalib/jReader.ml
  libs/javalib/jWriter.ml
Labels: platform-java, platform-jvm

#9551 [java] support --java-lib <directory>
  src/compiler/haxe.ml
  src/context/nativeLibraryHandler.ml
Labels: platform-java, platform-jvm

#9575 [java] add a test case for #9574
  tests/misc/java/projects/Issue9574/Main.hx
  tests/misc/java/projects/Issue9574/Test.java
  tests/misc/java/projects/Issue9574/bin/.gitkeep
  tests/misc/java/projects/Issue9574/compile.hxml
Labels: platform-java, platform-jvm

#9608 Rewrite JAR loader
  libs/javalib/jData.ml
  libs/javalib/jReader.ml
  src-json/define.json
  src/codegen/java.ml
  src/codegen/javaModern.ml
  src/codegen/overloads.ml
  src/context/nativeLibraryHandler.ml
  src/typing/calls.ml
  src/typing/typeloadFields.ml
  std/java/db/Jdbc.hx
Labels: platform-jvm
